<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 basicHighlight>
    {{title}}
  </h1>
  <div class="image">
    <img [src]="image$ | async">
  </div>
</div>
<div class="form form-horizontal">
  <div class="form-group">
    <search-box></search-box>
  </div>
  <hr>
  <div class="form-group">
    <color-picker #picker (color)="previewer.color = $event"></color-picker>
    <color-previewer #previewer></color-previewer>
    <div style="height: 20px"></div>
    <button class="btn btn-primary center-block" (click)="picker.reset()">Reset</button>
  </div>
  <hr>
  <div class="form-group">
    <h2 class="text-center">Type a color in the input</h2>
    <color-input></color-input>
  </div>
  <hr>
  <div class="form-group">
    <div class="card card-strong" collapse-on-click>
      <div class="card-header">
          <i class="collapsible-indicator glyphicon" [ngClass]="isCollapsed ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'"></i> Collapsible area
      </div>
      <div class="collapsible-section">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga, illo nam fugit natus mollitia suscipit eaque, autem laudantium aut blanditiis quaerat tempore rem excepturi sequi cumque debitis dolorum dolor officiis.</p>
      </div>
    </div>
  </div>
</div>

